## Lesson 3

In [1]:
import numpy as np 
import pandas as pd

In [2]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
planets[['method', 'number']].groupby('method').sum()

                               number
method
Astrometry                          2
Eclipse Timing Variations          15
Imaging                            50
Microlensing                       27
Orbital Brightness Modulation       5
Pulsar Timing                      11
Pulsation Timing Variations         1
Radial Velocity                   952
Transit                           776
Transit Timing Variations           9